/*
    Student Name: Sean Clarke
	Student ID: c0561639
	Assignment: Term Cumulative Project - Product #34
    File Name: media.css
    Date: TBD
*/

.desktop_Main {
    aspect-ratio: 16 / 9;
}

.desktop_Main iframe {
    margin: auto;
    margin-top: 2%;
    width: 90%;
    height: 90%;
}

h3 {
    margin-top: 4%;
    font-size: 1.5em;
}

audio {
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    border: 2px solid #000;
    border-radius: 30px;
}

.music_Sample h1 span {
    font-size: 1em;
    color: #c483d6;
}

.music_Sample img {
    margin-top: 1%;
    width: 10%;
    border: 2px solid #391942;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #391942;
}